body {
  color: white;
  background-color: black !important;
  font-family: DM Mono;
}
h2 {
  display: flex;
  justify-content: center;
}

table {
  justify-content: center;
}
th {
  background-color: violet;
  border: solid 1px gray;
  padding: 10px;
}

td {
  padding: 10px;
  border: solid 1px gray;
  text-align: center;
}

div {
  display: flex;
  justify-content: center;
}
